* {
    box-sizing: border-box;
    font-family: Arial, sans-serif, "Courier New";
    margin: 0;

}

body {
    background-image: url('../../assets/backgrounds/circles_background_dense.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 80px 50px 1fr;
    grid-template-areas:
    "header header header header"
    "aside aside aside aside"
    "main main main main";
    gap: 10px;
}

/*Header*/
header {
    grid-area: header;
    background-color: rgb(32,33,33);
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    transition: 0.3s;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-content: center;
    align-items: center;
    padding: 10px;
    color: rgb(0, 0, 0);
}


a {
    text-decoration: none;
    color: rgb(232, 233, 235);
    text-align: center;
  
  }

  td> a {
    text-decoration: none;
    color: rgb(16, 16, 16);
    text-align: center;
  }
  
nav > h3 {
    font-family: 'Lobster', 'serif';
    font-size: xx-large;
    margin: 0;
    color:rgb(232,233,235) ;
}

h3 > a {
    text-decoration: none;
    color: rgb(232, 233, 235);
    transition: 0.3s;
    font-family: "Lobster", "serif";
  }
.links {
    width: 200px;
    display: flex;
    justify-content: space-around;
    flex-flow: row nowrap;
    align-items: baseline;
}

.links > a {
    text-decoration: none;
    color:rgb(232,233,235) ;
    transition: 0.3s;
}

.links > a:hover {
    color:rgb(181, 180, 180) ;
}

/*Aside items*/
aside {
    grid-area: aside;
    grid-column: 2/4;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.add-part {
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.5s;
}

.add-part:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(158, 158, 158);
}

/*Main items*/
main {
    grid-area: main;
    display: flex;
    justify-content: center;
}

/*Table items*/
.content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 1000px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        background-color: rgba(233, 231, 231, 0.493);
}

thead{
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 600px;
}

table th,
table td {
    padding: 12px 15px;
}

table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}


thead > tr > th {
    padding: 20px;
    text-align: center;
}

i{
    cursor: pointer;
}