<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/partitura.css"> <!---->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

    <title>Partitura</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <h3>Score Finder</h3>
                <div class="links">
                    <a href="partitures.html">Partitures</a>
                    <a href="#">Login</a>
                </div>
            </nav>
        </header>

        <aside>
        </aside>

        <main>

            <form action="partitures.html" method="post">

                <h1>Afegeix una Partitura</h1>

                <div id="line-form">
                    <label for="titol">Titol</label>
                    <input class="text" id="titol" type="text" name="titol">

                    <div>
                        <label>Idioma Original</label>
                        <select name="idioma" id="idiomes"></select>
                    </div>
                </div>

                <div>
                    <label>Lletra Original</label>
                    <textarea id="lletraoriginal" class="original" name="text" cols="30" rows="5"></textarea>
                </div>

                <div>
                    <label>Traduccio al català</label>
                    <textarea id="lletratraduccio" class="traduccio" name="text" cols="30" rows="5"></textarea>
                </div>

                <input type="submit" id="submit" value="Desar Partitura">
            </form>
        </main>
    </div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="module">

        "use strict"

        import { PartituraService } from "../../service/PartituraService.js";
        import { GoogleService } from "../../service/GoogleService.js";
        import { initTinyMCE, obrirLogin, getUrlParameter } from "../../utils/Utils.js";

        (async () => {
            initTinyMCE();
            const partituraService = PartituraService.getInstance();
            const googleService = GoogleService.getInstance();
            const idiomes = await googleService.getIdiomes();

            const partituraId = getUrlParameter('edit');
            let partitura = null
            if (partituraId) partitura = await partituraService.getPartituraById(partituraId);

            pinta(idiomes, partitura);
        })();


        function pinta(idiomes, partitura) {
            const select = document.querySelector("#idiomes");

            idiomes.forEach(idioma => {
                const option = document.createElement('option');
                option.value = idioma.id;
                option.innerText = idioma.nom
                select.appendChild(option);
            });

            if (partitura) {
                document.querySelector('#titol').value = partitura.titol;
                document.querySelector('#idiomes').value = partitura.idiomaOriginal;
                document.querySelector('#lletraoriginal').value = partitura.lletraOriginal;
                document.querySelector('#lletratraduccio').value = partitura.lletraTraduccio;
            }
        }

    </script>
</body>

</html>