<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/partitura.css"> <!---->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">

    <title>Partitura</title>
</head>

<body>
    <div class="container">
        <header>
            <nav>
                <h3>Score Finder</h3>
                <div class="links">
                    <a href="partitures.html">Partitures</a>
                    <a href="#">Login</a>
                </div>
            </nav>
        </header>

        <aside>
        </aside>

        <main>

            <form action="#" method="post">

                <h1>Afegeix una Partitura</h1>

                <input name="idpartitura" id="idpartitura" hidden></input>

                <div id="line-form">
                    <label for="titol">Titol</label>
                    <input class="text" id="titol" type="text" name="name">

                    <div>
                        <label>Idioma Original</label>
                        <select name="idiomaoriginal" id="idiomes"></select>
                    </div>
                </div>

                <div>
                    <label>Lletra Original</label>
                    <textarea id="partituraoriginal" class="original" name="partituraoriginal" cols="30"
                        rows="5"></textarea>
                </div>

                <div>
                    <label>Traduccio al català</label>
                    <textarea id="partituratraduccio" class="traduccio" name="partituratraduccio" cols="30"
                        rows="5"></textarea>
                </div>

                <input id="idiomatraduccio" type="text" value="ca" name="idiomatraduccio" hidden>


                <input type="submit" id="submit" value="Desar Partitura">
            </form>
        </main>
    </div>
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="module">

        "use strict"

        import { PartituraService } from "../../service/PartituraService.js";
        import { GoogleService } from "../../service/GoogleService.js";
        import { initTinyMCE, obrirLogin, getUrlParameter } from "../../utils/Utils.js";
        import { validaTitol, validaCodiHTML } from "../../utils/Validation.js"


        (async () => {
            initTinyMCE();
            const partituraService = PartituraService.getInstance();
            const googleService = GoogleService.getInstance();
            const idiomes = await googleService.getIdiomes();

            const partituraId = getUrlParameter('edit');
            let partitura = null
            if (partituraId) partitura = await partituraService.getPartituraById(partituraId);

            pinta(idiomes, partitura);
        })();


        function pinta(idiomes, partitura) {
            const select = document.querySelector("#idiomes");

            idiomes.forEach(idioma => {
                const option = document.createElement('option');
                option.value = idioma.id;
                option.innerText = idioma.nom
                select.appendChild(option);
            });

            if (partitura) {
                document.querySelector('#idpartitura').value = partitura.id;
                document.querySelector('#titol').value = partitura.titol;
                document.querySelector('#idiomes').value = partitura.idiomaOriginal;
                document.querySelector('#partituraoriginal').value = partitura.lletraOriginal;
                document.querySelector('#partituratraduccio').value = partitura.lletraTraduccio;
                document.querySelector('#idiomatraduccio').value = partitura.idiomaDesti;

            }

            const titol = document.querySelector('#titol');
            const idioma = document.querySelector('select');
            const texteOriginal = document.querySelector('#lletraoriginal');
            const texteTraduccio = document.querySelector('#lletratraduccio')
            const button = document.querySelector('input[type="submit"]');
            const form = document.querySelector('form');

            // titol.addEventListener('input', validaTitol);
            // texteOriginal.addEventListener('input', validaCodiHTML);
            // texteTraduccio.addEventListener('input', validaCodiHTML);
            form.addEventListener("submit", submit);
        }

        async function submit(event) {
            event.preventDefault();
            const form = event.currentTarget;
            const formData = new FormData(form);

            const data = Object.fromEntries(formData);
            data.notes = [];

            const partituraService = PartituraService.getInstance();
            const result = await partituraService.save(data);

            //redireccionar a partitures con un parametro de success
        }


    </script>
</body>

</html>